#hero-section{
    background-image: url(/Projects/SportsCenter/Images/hero-man.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}

#header i{
    display: none;
}

#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: var(--font-size-def);
    margin: 20px;
}

#navbar > ul > li:last-child{
    background-color: var(--color-orange);
    border-radius: 10px;
}

#welcome{
    margin-left: 320px;
    margin-top: 50px;
}

#welcome span{
    background-color: var(--color-blue);
    color: white;
    padding: 5px;
    border-radius: 2px;
}

#welcome h1{
    font-size: var(--font-size-xlg);
    color: white;
    width: 250px;
}

#welcome p{
    font-size: var(--font-size-md);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 50%;
    padding: 10px;
}

#hero-buttons{
    margin-top: 20px;
    margin-left: 15px;
}

#hero-buttons .button-sign{
    background-color: var(--color-blue);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#hero-buttons .button-details{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}


@media screen and (max-width: 576px){
    #header{
        background-color: var();
    }
    
    #navbar{
        display: none;
    }

    #header i{
        display: inline-block;
        margin-top: 45px;
        color: white;
    }

    #welcome{
        margin: 15px 80px 10px 80px;
    }
    
    #welcome span{
        background-color: var(--color-blue);
        color: white;
        padding: 5px;
        border-radius: 2px;
        font-size: var(--font-size-sm);
    }
    
    #welcome h1{
        font-size: var(--font-size-md);
        color: white;
    }
    
    #welcome p{
        font-size: var(--font-size-sm);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 10px;
    }
    
    #hero-buttons{
        margin-top: 20px;
        margin-left: 15px;
    }
    
    #hero-buttons .button-sign{
        background-color: var(--color-blue);
        border: none;
        color: white;
        padding: 10px;
        margin: 2px;
        border-radius: 10px;
        width: 100%;
        text-align: left;
    }
    
    #hero-buttons .button-details{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        margin: 2px;
        border-radius: 10px;
        border: 1px solid white;
        width: 100%;
        text-align: left;
    }
}