.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    height: auto;
    background-color: var(--background-sky-blue);
}

.card {
    background-color: white;
    padding: 30px;
    text-align: center;
    margin: 15px 10px; 
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    box-sizing: border-box; 
}

.card span{
    font-size: var(--font-size-lg);
    color: var(--color-blue);
    font-weight: bold;
}

.card p{
    font-size: var(--font-size-md);
    margin-top: 10px;
    font-weight: bold;
}

#info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(250deg, #f6f6f6 50%,  #ffffff 50%);
}

.info-top h3{
    color: var(--color-blue);
    font-size: var(--font-size-lg);
    margin-top: 25px;
}

.separator{
    height: 5px;
    width: 8%;
    margin: 20px auto;
    background-color: var(--color-orange);
    border-radius: 2px;
}

.info-top p{
    text-align: center;
    width: 600px;
}

#lessons-button{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

#lessons-button button{
    background-color: var(--color-blue);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 90px;
}

.yoga-content{
    display: flex;
    margin-top: 50px;
    color: var(--text-color-grey);
}

.yoga-text{
    width: 600px;
}

.yoga-text h4{
    margin: 10px;
    text-align: start;
    font-size: var(--font-size-lg);
}

.yoga-text p{
    margin: 15px;
    text-align: justify;
}

.yoga-img{
    margin: 50px auto auto 20px;
}