@import url(/Projects/SportsCenter/css/hero.css);
@import url(/Projects/SportsCenter/css/info.css);
@import url(/Projects/SportsCenter/css/calculator.css);


:root{
    --color-orange: #f39c12;
    --color-blue: #355592;
    --background-sky-blue: #f1f8ff;
    --background-beige: #f6f6f6;
    --text-color-grey:#4e4e4e;
    --font-size-sm : 0.8rem;
    --font-size-def: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xlg: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}