.container {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.todo-create {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.todo-button {
  padding: 10px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
}

.todo-input {
  width: 100%;
  padding: 5px;
  border: none;
}

.list-todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;
  gap: 20px;
}

.todo-icons {
  font-size: 25px;
  margin-right: 8px;
  cursor: pointer;
}

.todo-wrapper {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}