body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #ff758c, #ff7eb3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.container{
    background-color: #08007d;
    padding: 45px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: #fff;
}

#form-survey h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1d3b56;
    color: #fff;
    outline: none;
    font-size: 14px;
}

input[type="radio"] {
    margin-right: 10px;
}

textarea{
    resize: none;
}

button[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #218838;
}