.details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.details{
    padding: 15px;
    color: black;
    background-color: #bebebe;
}

strong{
  color: black;
}

.details-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  text-align: left;
}


.details-content h2 {
  margin-top: 0;
  padding: 15px;
  color: black;
}

.details-content button {
  position: absolute;
  top: -50px;
  right: 18px;
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.details-content button:hover {
  background-color: #cc0000;
}
