#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.logo{
    width: 200px;
}

.search-input{
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    color: black;
}
