*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url(./img/band.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

h1{
    margin-top: 100px;
    font-size: 52px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.all-buttons{
    margin-top: 100px;
    display: flex;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid orange;
    font-size: 26px;
    background-color: transparent;
    backdrop-filter: blur(100px);
    color: white;
}

.button.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid orange;
    font-size: 26px;
    background-color: orange;
    backdrop-filter: blur(100px);
    color: white;
    transition: background-color 0.9s, border 0.9s;
}
